* {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Noto Serif', serif;
}

body{
    background-image: url("asset/web_backgorund.jpg");     /*source: https://libreshot.com/red-background-book/   */
                                                            /*wish i could donate one day :D*/

    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;

    padding-bottom: 100px;
}
h1{
    font-size: 3.5em;
    text-align: center;
}
h4{
    margin-bottom: 10px;
}
main{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
input{
    width: 200px;
}
.group-radio{
    width: 10px;
    margin-right: 20px;
}
button{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.wrapped{
    width: 100%;
    margin: 10px;
}

/*Form and info styles*/
.container-form-info{   /*outer container*/
    max-width: 30%;
}
.form-info-sub{
    background: rgba(255, 255, 255, 0.479);
    height: auto;
}
.form-ele{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-inner{
    padding-bottom: 15px;
    width: 60%;
}

.info-ele{
    margin-top: 20px;
    padding: 10px;
    height: auto;

}
.book-info-sub{
    margin-bottom: 10px;
}
.book-info-txt{
    margin-top: 10px;
}
.book-info-input{
    display: inline-block;
    margin-left: 10px;

}
.info-last-read {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 2;
    justify-content: space-evenly;
}


/*boolist styles*/
.container-book{        /*outer container*/
    background: rgba(255, 255, 255, 0.479);
    max-width: 70%;
    width: 70%;
    padding-left: 10px;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start
}
.book-inner{
    max-width: 200px;
    width: 200px;       /*same width as book img*/
    max-height: 320px;
    height: 320px;
    display: block;
    position: relative;
    margin-left: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 0;

}
.book-obj-img{
    height: 250px;
    width: 200px;
    object-fit: cover;
    overflow: hidden;
    opacity: 0.6;
}
.book-obj-title{
    text-align: center;
}
.book-obj-img:hover{
    cursor: pointer;
    opacity: 1;
    transition: 0.5s;
}